@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --bgcolor:hsl(212, 45%, 89%);
    --textcolor1:hsl(218, 44%, 22%);
    --textcolor2:hsl(220, 15%, 55%);
    --QRbgcolor:rgb(31, 31, 255);
    --main-color:hsl(0, 0%, 100%);
}

body {
    background-color: var(--bgcolor);
}

#main-div {
    width: 205px;
    height: 320px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--textcolor2);
    text-align: center;
}

.QR-code-div {
    width: 185px;
    height: 185px;
    /* background-color: var(--textcolor1); */
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
}

img {
    width: 185px;
    height: 185px;
    border-radius: 8px;
}

h3 {
    height: 30px;
    font-size: 16px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 15px;
    font-family: 'Outfit', sans-serif;
    color: var(--textcolor1);
    /* font-weight: 700; */
}

h5 {
    line-height: normal;
    font-family: 'Outfit', sans-serif;
    margin-left: 14px;
    margin-right: 14px;
    font-weight: 400;
    font-size: 11px;
    color: var(--textcolor2);
}