body {
    background-color: aliceblue;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    text-align: center;
    height: 400px;
    width: 300px;
}

#main .numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 0, 0);
    text-align: center;
    height: 200px;
    width: 300px;
}

#main .operators {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    width: 300px;
}